<main>
       <div class="carousel-container">
         <div class="carousel-slide">
           <img src="./img/Nutrience_big.jpeg" alt="" id="lastClone">
           <img src="./img/APR_App.jpeg" alt="">
           <img src="./img/Nutrience_big.jpeg" alt="">
           <img src="./img/Nutrience_big.jpeg" alt="" id="firstClone">
         </div>
         <button id="prevBtn">prev</button>
         <button id="nextBtn">next</button>
       </div>
       <section>
         <h2>What's new</h2>
         <ul>
           <li><a href=""><img src="./img/Halo.png" alt=""><h3>Halo</h3></a></li>
           <li><a href=""><img src="./img/RoyalCanin.png" alt=""><h3>Royal Canin</h3></a></li>
           <li><a href=""><img src="./img/ScienceDiet.png" alt=""><h3>Science Diet</h3></a></li>
           <li><a href=""><img src="./img/Blue.png" alt=""><h3>Blue</h3></a></li>
         </ul>
         <span><a href="">See more brand ></a></span>
       </section>
       <section class="history">
        <h2>Browsing history</h2>
        <ul>
          <li><a href=""><img src="./img/can1.jpg" alt=""></a></li>
          <li><a href=""><img src="./img/can2.jpg" alt=""></a></li>
          <li><a href=""><img src="./img/can3.jpg" alt=""></a></li>
          <li><a href=""><img src="./img/can7.jpg" alt=""></a></li>
          <li><a href=""><img src="./img/can5.jpg" alt=""></a></li>
          <li><a href=""><img src="./img/can9.jpg" alt=""></a></li>
          <li><a href=""><img src="./img/can11.jpg" alt=""></a></li>
          <li><a href=""><img src="./img/can15.jpg" alt=""></a></li>
        </ul>
        <span><a href="">See more history ></a></span>
      </section>
       <section class="Featured">
        <h2>Featured food brand</h2>
        <ul>
          <li><a href=""><img src="./img/merrick.jpeg" alt=""><h3>Merrick</h3></a></li>
          <li><a href=""><img src="./img/nourish.jpeg" alt=""><h3>Simple Nourish</h3></a></li>
          <li><a href=""><img src="./img/blue buffalo.jpeg" alt=""><h3>Blue</h3></a></li>
          <li><a href=""><img src="./img/nutrience.jpeg" alt=""><h3>Nutrience</h3></a></li>
        </ul>
        <span><a href="">See more brand ></a></span>
      </section>
      
      <section class="service">
        <h2>Service</h2>
        <ul>
          <li><a href=""><img src="./img/grooming.png" alt=""><h3>Grooming</h3></a></li>
          <li><a href=""><img src="./img/training.png" alt=""><h3>Training</h3></a></li>
          <li><a href=""><img src="./img/camping.png" alt=""><h3>Daycare</h3></a></li>
          <li><a href=""><img src="./img/hotel.png" alt=""><h3>Hotel</h3></a></li>
        </ul>
      </section>
     </main>