<link rel="stylesheet" type="text/css" href="wetfood.css">
<main>
  <h2>{{{title}}}</h2>
        <section class="filter">
          <h3>Filters</h3>
          <form>
           <fieldset>
              <label for="sort">Show</label>
              <select name="courseCategory" id="courseCategory">
                <option value="all">All Products</option>
                <option value="pouch">Pouch</option>
                <option value="can">Can</option>
                <option value="plastic container">Plastic Container</option>
              </select>
            </fieldset>
            <fieldset>
              <legend>Age</legend>
              <ul>
                <li><input type="checkbox" name="Age" value="Kitten" id="Kitten"> <label for="Kitten">Kitten</label></li>
                <li><input type="checkbox" name="Age" value="1~3 Years" id="1~3 Years"> <label for="1~3 Years">1~3 Years</label></li>
                <li><input type="checkbox" name="Age" value="4~6 Years" id="4~6 Years"> <label for="4~6 Years">4~6 Years</label></li>
                <li><input type="checkbox" name="Age" value="7~10 Years" id="7~10 Years"> <label for="7~10 Years">7~10 Years</label></li>
                <li><input type="checkbox" name="Age" value="10~ Years" id="10~ Years"> <label for="10~ Years">10~ Years</label></li>
              </ul>
            </fieldset>
            <fieldset>
              <legend>Flavour</legend>
              <ul>
                <li><input type="checkbox" name="Age" value="Beef" id="Beef"> <label for="Beef">Beef</label></li>
                <li><input type="checkbox" name="Age" value="Chicken" id="Chicken"> <label for="Chicken">Chicken</label></li>
                <li><input type="checkbox" name="Age" value="Duck" id="Duck"> <label for="Duck">Duck</label></li>
                <li><input type="checkbox" name="Age" value="Fish" id="Fish"> <label for="Fish">Fish</label></li>
                <li><input type="checkbox" name="Age" value="Lamb" id="Lamb"> <label for="Lamb">Lamb</label></li>
              </ul>
            </fieldset>
            <fieldset>
              <legend>Rating above</legend>
              <ol>
                <li>
                  <input type="radio" name="rating" value="4" id="aboveFour">
                  <label for="aaboveFour">
                    <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i>
                  </label>
                </li>
                <li>
                  <input type="radio" name="rating" value="3" id="aboveThree">
                  <label for="aboveThree">
                    <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i>
                  </label>
                </li>
                <li>
                  <input type="radio" name="rating" value="2" id="aboveTwo">
                  <label for="aboveTwo">
                    <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i>
                  </label>
                </li>
                <li>
                  <input type="radio" name="rating" value="1" id="aboveOne">
                  <label for="aboveOne">
                    <i class="material-icons">star</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i>
                  </label>
                </li>
              </ol>
            </fieldset>
          </form>
        </section>
        <section class="productdisplay">
          <button id="toggleView" class="toggleView">Change Arrey</button>
          <div id="products">
            <script src="wetfood.js"></script>
            {{!-- <script src="${loct}.js"></script> --}}
          </div>
        </section>
  
        <!-- Indicate current page number -->
        <footer class="center">
          <p>1-6 of 127 products found</p>
          <nav aria-label="Product Pages">
            <a href="#" aria-label="Previous page">prev</a>
            <ol>
              <li><a href="#" aria-label="Current Page, Page 1" aria-current="true">1</a></li>
              <li><a href="#" aria-label="Page 2">2</a></li>
              <li><a href="#" aria-label="Page 3">3</a></li>
              <li><a href="#" aria-label="Page 4">4</a></li>
              <li><a href="#" aria-label="Page 5">5</a></li>
            </ol>
            <a href="#" aria-label="Next page">next</a>
          </nav>
        </footer>
      </main>

      <script src="main.js"></script>
  
      
      {{!-- <script src="wetfood.js"></script> --}}